spring:
  application:
    name: catalog-service
  datasource:
    url: jdbc:postgresql://127.0.0.1:5432/redgmapp
    username: redgmapp
    password: redgmapp
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
server:
  port: 8081
