kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    image: kindest/node:v1.34.2
    extraPortMappings:
      - containerPort: 30080
        hostPort: 8081
        protocol: TCP
      - containerPort: 30082
        hostPort: 8082
        protocol: TCP