apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres
  namespace: vkr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: postgres
  template:
    metadata:
      labels:
        app: postgres
    spec:
      containers:
        - name: postgres
          image: postgres:16
          ports:
            - containerPort: 5432
          env:
            - name: POSTGRES_DB
              value: redgmapp
            - name: POSTGRES_USER
              value: redgmapp
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vkr-secrets
                  key: SPRING_DATASOURCE_PASSWORD
          readinessProbe:
            exec:
              command: ["sh","-c","pg_isready -U redgmapp -d redgmapp"]
            initialDelaySeconds: 5
            periodSeconds: 5
---
apiVersion: v1
kind: Service
metadata:
  name: postgres
  namespace: vkr
spec:
  selector:
    app: postgres
  ports:
    - port: 5432
      targetPort: 5432
