apiVersion: apps/v1
kind: Deployment
metadata:
  name: admin
  namespace: vkr
spec:
  replicas: 1
  selector:
    matchLabels:
      app: admin
  template:
    metadata:
      labels:
        app: admin
    spec:
      containers:
        - name: admin
          image: vkr/admin:1.0
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8082
          env:
            - name: SPRING_DATASOURCE_URL
              valueFrom:
                configMapKeyRef:
                  name: vkr-config
                  key: SPRING_DATASOURCE_URL
            - name: SPRING_DATASOURCE_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: vkr-config
                  key: SPRING_DATASOURCE_USERNAME
            - name: SPRING_DATASOURCE_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vkr-secrets
                  key: SPRING_DATASOURCE_PASSWORD
            - name: SERVER_PORT
              valueFrom:
                configMapKeyRef:
                  name: vkr-config
                  key: SERVER_PORT_ADMIN
            - name: APP_ADMIN_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: vkr-config
                  key: APP_ADMIN_USERNAME
            - name: ADMIN_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: vkr-secrets
                  key: ADMIN_PASSWORD
          readinessProbe:
            httpGet:
              path: /admin
              port: 8082
            initialDelaySeconds: 20
            periodSeconds: 10
          livenessProbe:
            httpGet:
              path: /admin
              port: 8082
            initialDelaySeconds: 40
            periodSeconds: 20

---
apiVersion: v1
kind: Service
metadata:
  name: admin
  namespace: vkr
spec:
  selector:
    app: admin
  type: ClusterIP
  ports:
    - name: http
      port: 8082
      targetPort: 8082
